{# app/Resources/views/insurance/find.html.twig #}
{% extends 'insurance/insurance.html.twig' %}

{% block section2 %}

<section class="bg-primary text-white mb-0" id="adminbody">
    <div class="container">
        <h2 class="text-center text-uppercase text-white"> {{ title }}</h2>
        <div>

        <h4>{{ name }} {{middlename }} {{ surname }}</h4>

        <h5> Birthdate: {{ birthdate|date('m-d-Y') }}</h5>
        <h5> Contact: {{ contact }}</h5>
        <h5> Passport/DNI: {{ passport_dni }}</h5>
        <h5> Type of Insurance: {{ type_insurance }}</h5>
        <h5> Payment: {{ payment }}</h5>
        <h5> Amount: {{ amount}}</h5>
        <h5> Date of Initiation: {{ initiation_insurance|date('m-d-Y') }}</h5>
        </div>
   	</div>
</section>

{% endblock%}


