{# app/Resources/views/insurance/insurance.html.twig #}
{% extends 'admin/index.html.twig' %}

{% block title %}Admin Insurance{% endblock%}

{% block section %}

<section class="bg-primary text-white mb-0" id="adminbody">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Insurance</h2>
        <div class="row">

            <a href="/admin-insurance"><input type="button" value="Home Insurance"></a>
            <a href="/list-clients"><input type="button" value="List of Clients"></a>
            <a href="/add-client"><input type="button" value="Add Client"></a>
            <a href="/edit-client"><input type="button" value="Edit Client"></a>
            <a href="/cancel-client"><input type="button" value="Cancel Client"></a>
            <a href="/find-client"><input type="button" value="Find Client"></a>

         
        </div>

      </div>
    </section>
{% endblock %}


{% block section2 %}

<section class="bg-primary text-white mb-0" id="adminbody">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">{{ title }}</h2>
        <div class="row">

            <div id="clientsTable" align="center">
                <table border="1">
                    <tr>
                        <th>Agent ID</th>
                        <th>Name</th>
                        <th>Middlename</th>
                        <th>Surname</th>
                        <th>Contact</th>
                        <th>Email </th>
                        <th>Address</th>
                    </tr>

                    {% for agent in agents %}
                    <tr>
                        <td>{{ agent.idAgent }}</td>
                        <td>{{ agent.name }}</td>
                        <td>{{ agent.middlename }}</td>
                        <td>{{ agent.surname }}</td>
                        <td>{{ agent.contact }}</td>
                        <td>{{ agent.email}}</td>
                        <td>{{ agent.address }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            </div>
        </div>
</section>

{% endblock %}


{% block footer %}

  <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; CAT Financial 2018</small>
            <small><a href="/sitemap">Sitemap</a></small>
            <small><a href="/disclaimer">Disclaimer</a></small>
            <small><a href="/cookies">Cookie Policy</a></small>
        </div>
  </div>

{% endblock %}
