{# app/Resources/views/lawfirm/find.html.twig #}
{% extends 'lawfirm/lawfirm.html.twig' %}

{% block section2 %}

	<section class="bg-primary text-white mb-0" id="adminbody">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">{{ title }}</h2>
        	<div>

        		<h3> {{ name }} {{ middlename }} {{ surname }}</h3>

        		<h5>Date: {{ date|date('m-d-Y') }}</h5>
        		<h5>Time: {{ time|date('H:i') }}</h5>
        		<h5>Contact: {{ contact }} </h5>
        		<h5>Email: {{ email }}</h5>
        		<h5>Description: {{ description }}</h5>

            </div> 
        </div>
</section>
{% endblock %}