{# app/Resources/views/lawfirm/form.html.twig #}
{% extends 'lawfirm/lawfirm.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig'%}


{% block title %} {{ title }} {% endblock%}

{% block section2 %}

<section class="bg-primary text-white mb-0" id="adminbody">
    <div class="container">
        <h2 class="text-center text-uppercase text-white"> {{ title }}</h2>
        <div class="row">

        	{{ form_start(form) }}
        	{{ form_widget(form) }}
        	{{ form_end(form) }}


        </div>
   	</div>
</section>

{% endblock%}


