{# app/Resources/views/lawfirm/lawfirm.html.twig #}
{% extends 'admin/index.html.twig' %}

{% block title %}Admin Law Firm{% endblock%}

{% block section %}

<section class="bg-primary text-white mb-0" id="adminbody">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Law Firm</h2>
        <div class="row">

            <a href="/admin-lawfirm"><input type="button" value="Home Law Firm"></a>
            <a href="/list-appointments"><input type="button" value="List of Appointments"></a>
            <a href="/add-appointment"><input type="button" value="Add Appointment"></a>
            <a href="/edit-appointment"><input type="button" value="Edit Appointment"></a>
            <a href="/cancel-appointment"><input type="button" value="Cancel Appointment"></a>
            <a href="/find-appointment"><input type="button" value="Find Appointment"></a>

         
        </div>

      </div>
    </section>
{% endblock %}


{% block section2 %}

<section class="bg-primary text-white mb-0" id="adminbody">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">List of Appointments</h2>
        <div class="row">

            <div id="appointmentTable" align="center">
                <table border="1">
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Name</th>
                        <th>Middlename</th>
                        <th>Surname</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Description</th>
                    </tr>

                    {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.date|date('d-m-Y') }}</td>
                        <td>{{ appointment.time|date('H:i') }}</td>
                        <td>{{ appointment.name }}</td>
                        <td>{{ appointment.middlename }}</td>
                        <td>{{ appointment.surname }}</td>
                        <td>{{ appointment.contact }}</td>
                        <td>{{ appointment.email}}</td>
                        <td>{{ appointment.description }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            </div>
        </div>
</section>

{% endblock %}


{% block footer %}

    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; CAT Financial 2018</small>
            <small><a href="/sitemap">Sitemap</a></small>
            <small><a href="/disclaimer">Disclaimer</a></small>
            <small><a href="/cookies">Cookie Policy</a></small>
        </div>
  </div>

{% endblock %}
