{# app/Resources/views/lawfirm/listmovies.html.twig #}
{% extends 'default/index.html.twig' %}

{% block title %}List Appointments{% endblock %}

{% block section2 %}

<section class="bg-primary text-white mb-0" id="adminbody">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">List of All Appointments</h2>
        <div class="row">

            <div id="appointmentTable" align="center">
                <table border="1">
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Name</th>
                        <th>Middlename</th>
                        <th>Surname</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Description</th>
                    </tr>

                    {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.date|date('d-m-Y') }}</td>
                        <td>{{ appointment.time|date('H:i') }}</td>
                        <td>{{ appointment.name }}</td>
                        <td>{{ appointment.middlename }}</td>
                        <td>{{ appointment.surname }}</td>
                        <td>{{ appointment.contact }}</td>
                        <td>{{ appointment.email}}</td>
                        <td>{{ appointment.description }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            </div>
        </div>
</section>

{% endblock %}