{# app/Resources/views/lawfirm/message.html.twig #}
{% extends 'lawfirm/lawfirm.html.twig' %}

{% block section2 %}

	<section class="bg-primary text-white mb-0" id="adminbody">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">{{ title }}</h2>
        <div class="row">

        {{ message }}

            </div> 
        </div>
</section>


{% endblock %}