{# app/Resources/views/default/aboutUs.html.twig #}
{% extends 'default/index.html.twig' %}

{% block title %}CATFM | About Us{% endblock %}

{%block section%}

	<section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">About Us</h2>
        <div>
          <div class="text-center">

          <br><br>
          <p>This is a company which its main office is located in Barcelona.</p>
          <p>Their objective is to give better service in insurance, marketing, and monetary intermediation</p>
          </div>
         
        </div>

      </div>
    </section>


{% endblock %}