{# app/Resources/views/default/contactUs.html.twig #}
{% extends 'default/index.html.twig' %}

{%block container2 %}
	
{% endblock %}


{% block title %}CATFM | Contact Us{% endblock %}

{%block section%}

	<section class="bg-primary text-white mb-0" id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Contact Us</h2>
        <div>
          <div class="">

          	{% for info in contact %}

          		<h4>Where are we?</h4>

          			<p>{{ info.address }}</p>

          			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95777.52881615647!2d2.0787275310334272!3d41.39476881434825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49816718e30e5%3A0x44b0fb3d4f47660a!2sBarcelona!5e0!3m2!1sca!2ses!4v1523359432262" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                <br><br>
          		<h4>Contact Us</h4>
          			<h5>Telephone</h5>
          				<tr>{{ info.telephone }}</tr>
          			<h5>Email</h5>
          				<tr>{{ info.email }}</tr>
          			<h5>Fax</h5>
          				<tr>{{ info.fax }}</tr>

                  <br><br>
       			<h4>Open Hours</h4>

            <p>Monday - Thursday: 9:00 - 14:00 || 17:00 - 20:00 </p>
            <p>Friday - Saturday: 9:00 - 14:00 </p>
       		{% endfor%}	
          </div>
         
        </div>

      </div>
    </section>


{% endblock %}