{# app/Resources/views/base.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}CAT Financial SL{% endblock %}

{% block header %}

    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="{{ asset('template/img/logo/catfm-3.png') }}" alt="">
        <h1 class="text-uppercase mb-0"></h1>
        <h2 class="font-weight-light mb-0"></h2>
      </div>
    </header>

{% endblock %}



{% block navigation %}

    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">CAT Financial SL</a>

        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Home</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/movies">Movies</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/lawfirm">CAT Law Firm</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/about">About Us</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin">Login</a>
            </li>

          </ul>
        </div>

      </div>
    </nav>

{% endblock %}

{% block section %}{% endblock %}


{% block footer %}

    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; CAT Financial 2018</small>
            <small><a href="/sitemap">Sitemap</a></small>
            <small><a href="/disclaimer">Disclaimer</a></small>
            <small><a href="/cookies">Cookie Policy</a></small>
        </div>
    </div>


{% endblock %}


