{# app/Resources/views/default/lawfirm.html.twig #}
{% extends 'default/index.html.twig' %}

{% block title %}CATFM | CAT Law Firm{% endblock %}

{%block section%}

	<section class="bg-primary text-white mb-0" id="lawfirm">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Law Firm</h2>
        <div class="row">
          <div class="">

          	<h5>Contact</h5>
          		{% for info in information %}
          			<p>Telephone: {{ info.telephone }}</p>
          			<p>Mobile: {{ info.mobile }}</p>
          			<p>Email: {{ info.email }}</p>

            <br><br>

            <h5>Description</h5>
            <p>{{ info. description }}</p>

          		{% endfor%}
          </div>
         
        </div>

      </div>
    </section>


{% endblock %}