{# app/Resources/views/default/movie.html.twig #}
{% extends 'default/index.html.twig' %}

{% block title %}CATFM | Movies{% endblock %}

{%block section%}

	<section class="bg-primary text-white mb-0" id="movies">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Movies</h2>
        <div class="">
          <div class="">

          	{% for movie in movies %}
          		{% if movie.designated == true %}
          			<h5>{{ movie.title }}</h5>
               <img src="{{ asset('uploads/posters/' ~ movie.posterName ) }}" alt="{{ movie.posterName }}" width="400" height="550">
               <h6>Duration: {{ movie.duration }}</h6>
               <h6>Price: {{ movie.price }}</h6>
               <h6>Date: {{ movie.date|date('d-m-Y') }}</h6>
               <h6>Description: </h6>
               <p>{{ movie.description }}</p>
               <br>
          		{% endif %}
          	{% endfor %}
          </div>
        </div>

      </div>
    </section>


{% endblock %}