{# app/Resources/views/default/sitemap.html.twig #}
{% extends 'default/index.html.twig' %}

{% block title %}CATFM | About Us{% endblock %}

{%block section%}

	<section class="bg-primary text-white mb-0" id="sitemap">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">SiteMap</h2>
        <div class="row">
          <div class="col-lg-8 ml-auto" text-white>
			<h5>Menu</h5>
			 	<ul>
  					<p><a href="/">Home</a></p>
                	<p><a href="/movies">Movies</a></p>
                	<p><a href="/lawfirm">CAT Law Firm</a></p>
                	<p><a href="/events">Events</a></p>
                	<p><a href="/about">About Us</a></p>
                	<p><a href="/contact">Contact Us</a></p>
				</ul>
		 	<h5><a href="/login">Login</h5>
		 	<h5><a href="/disclaimer">Disclaimer</h5>
		 	<h5><a href="/cookies">Cookie Policy</h5>
          </div>
        </div>

      </div>
    </section>


{% endblock %}