{# app/Resources/views/admin/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}CATFM Admin{% endblock%}


{% block header %}

<header class="masthead bg-primary text-white text-center">
      <div class="container">
        <a href="/admin"><img class="img-fluid mb-5 d-block mx-auto" src="{{ asset('template/img/logo/catfm-3.png') }}" alt=""></a>
        <h1 class="text-uppercase mb-0"></h1>
        <h2 class="font-weight-light mb-0"></h2>
      </div>
</header>

{% endblock%}

{% block navigation %}

<nav class="navbar bg-secondary fixed-top text-uppercase" id="mainNav">
	<div class="container">

	 <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          All Services
          <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin">Admin Page</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin-lawfirm">Law Firm</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/travel">Travel</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin-movies">Movies</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/events">Events</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin-insurance">Insurance</a>
            </li>

            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">Logout</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>

{% endblock%}

{% block section %}

<section class="bg-primary text-white mb-0" id="adminbody">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Welcome,Admin!!!</h2>
        <div class="row">
          <div class="col-lg-10 ml-auto">

           <a href="/admin-lawfirm"><img src="{{ asset('template/img/icons/law_firm_icon.png') }}" class="img-thumbnail" alt="Law Firm Icon" width="150" height="170"></a>

           <a href=""><img src="{{ asset('template/img/icons/travel_icon.png') }}" class="img-thumbnail" alt="Travel Icon" width="150" height="170"></a>

           <a href="/admin-movies"><img src="{{ asset('template/img/icons/movies_icon.png') }}" class="img-thumbnail" alt="Movies Icon" width="150" height="170"></a>

           <a href=""><img src="{{ asset('template/img/icons/events_icon.png') }}" class="img-thumbnail" alt="Events Icon" width="150" height="170"></a>
           
           <a href="/admin-insurance"><img src="{{ asset('template/img/icons/insurance_icon.png') }}" class="img-thumbnail" alt="Insurance Icon" width="150" height="170"></a>
          </div>
         
        </div>

      </div>
    </section>
{% endblock %}

{% block section2 %}{% endblock %}


{% block footer %}

	<div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; CAT Financial 2018</small>
            <small><a href="/sitemap">Sitemap</a></small>
            <small><a href="/disclaimer">Disclaimer</a></small>
            <small><a href="/cookies">Cookie Policy</a></small>
        </div>
  </div>

{% endblock %}
