{# app/Resources/views/movies/listmovies.html.twig #}
{% extends 'default/index.html.twig' %}

{% block title %}List Movies{% endblock %}

{% block section2 %}

<section class="bg-primary text-white mb-0" id="adminbody">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">List of All Movies</h2>
        <div class="row">

            <div id="movieTable" align="center">
                <table border="1">
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Duration</th>
                        <th>Venue</th>
                        <th>Price</th>
                        <th>Postername</th>
                        <th>Description</th>
                        <th>Designated</th>
                    </tr>

                    {% for movie in movies %}
                    <tr>
                        <td>{{ movie.date|date('d-m-Y') }}</td>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.duration }}</td>
                        <td>{{ movie.venue }}</td>
                        <td>{{ movie.price }}</td>
                        <td>{{ movie.postername }}</td>
                        <td>{{ movie.description}}</td>
                        <td>{{ movie.designated }}</td>
                       
                    </tr>
                    {% endfor %}
                </table>
            </div>
            </div>
        </div>
</section>

{% endblock %}