{# app/Resources/views/user/lawfirm.html.twig #}
{% extends 'admin/index.html.twig' %}

{% block title %}Admin Movies{% endblock%}

{% block section %}

<section class="bg-primary text-white mb-0" id="adminbody">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Movies</h2>
        <div class="row">

            <a href="/admin-movies"><input type="button" value="Home Movies"></a>
            <a href="/listmovies"><input type="button" value="List of Movies"></a>
            <a href="/addmovie"><input type="button" value="Add Movie"></a>
            <a href="/editmovie"><input type="button" value="Edit Movie"></a>
            <a href="/cancelmovie"><input type="button" value="Cancel Movie"></a>
            <a href="/findmovie"><input type="button" value="Find Movie"></a>

         
        </div>

      </div>
    </section>
{% endblock %}


{% block section2 %}

<section class="bg-primary text-white mb-0" id="adminbody">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">List of Movies</h2>
        <div class="row">

            <div id="movieTable" align="center">
                <table border="1">
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Duration</th>
                        <th>Venue</th>
                        <th>Price</th>
                        <th>Postername</th>
                        <th>Description</th>
                        <th>Designated</th>
                    </tr>

                    {% for movie in movies %}
                    <tr>
                        <td>{{ movie.date|date('d-m-Y') }}</td>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.duration }}</td>
                        <td>{{ movie.venue }}</td>
                        <td>{{ movie.price }}</td>
                        <td>{{ movie.posterName }}</td>
                        <td>{{ movie.description}}</td>
                        <td>{{ movie.designated }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            </div>
        </div>
</section>

{% endblock %}


{% block footer %}

    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; CAT Financial 2018</small>
            <small><a href="/sitemap">Sitemap</a></small>
            <small><a href="/disclaimer">Disclaimer</a></small>
            <small><a href="/cookies">Cookie Policy</a></small>
        </div>
    </div>

{% endblock %}
